# Project specific files
core/plugins/
core/output/
core/xvm/compile/wabt/build/
core/contractsdk/cpp/build
output
event_client

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.d

# OSX trash
.DS_Store

# vim
.*.sw*

# vscode
.vscode

# Go test binaries
*.test

# idea
.idea

# Log files
*.log
*.log.wf


coverage.txt
*.pem


#  a better choise is write to a temp file 
core/crypto/client/gm/gmsm/sm2/cert.pem
core/crypto/client/gm/gmsm/sm2/ifile
core/crypto/client/gm/gmsm/sm2/ofile
core/crypto/client/gm/gmsm/sm2/priv.pem
core/crypto/client/gm/gmsm/sm2/pub.pem
core/crypto/client/gm/gmsm/sm2/req.pem
core/crypto/client/gm/gmsm/sm3/ifile
core/crypto/client/gm/gmsm/sm4/key.pem
core/ledger/ledger/

# go contract build output
core/contractsdk/go/example/wasm/
