output
logs
.compile_cache

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.d

# OSX trash
.DS_Store

# vim
.*.sw*

# vscode
.vscode

# Go test binaries
*.test

# idea
.idea

# Log files
*.log
*.log.wf


coverage.txt
