on: [push, pull_request]
name: CI
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: |
        diff -u <(echo -n) <(gofmt -d $(find . -type f -name '*.go' -not -path "./vendor/*")) 
        make && make test
        go get github.com/axw/gocov/...
        go get github.com/AlekSi/gocov-xml
        pip install diff_cover
        gocov convert coverage.txt  | gocov-xml > coverage.xml
        diff-cover coverage.xml --html-report report.html
        if command -v docker && docker info; then XDEV_CC_IMAGE=xuper/emcc:1.38.30 make contractsdk; fi
        cd ./core/test && bash -x ci_pipeline.sh

  contract-java-sdk:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
        mvn install -f ./core/contractsdk/java/pom.xml
        mvn package -f ./core/contractsdk/java/example/counter/pom.xml
